DISCORD_TOKEN=your-discord-bot-token
PREFIX=!
PLAYFAB_TITLE_ID=your-playfab-title-id
PLAYFAB_SECRET_KEY=your-playfab-secret-key
MANAGER_PORT=3000
CONFIG_REFRESH_MS=300000
DISCORD_STORAGE_GUILD_NAME=TR Fishing Test Server
DISCORD_STORAGE_CHANNEL_NAME=storage
# DISCORD_STORAGE_CHANNEL_ID=your-storage-channel-id
